.footer {
  background-color: var(--primary-900);
  flex-shrink: 0;
  padding: 0.5rem;
  color: var(--white);
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
  font-size: x-small;
}
